:root{
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --border: .1rem solid rgba(255,255,255,.3);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

.heading{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color: var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover{

letter-spacing: .2rem;
}


.team-section{
    margin-top: 75px;

}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}


.team-title h1{
    font-size: 50px;
    color:  var(--text-color);
    text-align: center;
    position: relative;

}

.team-cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    margin: 20px auto;


}

.team-card{
    background-color: var(--main-color);
    border-radius: 50px;
    box-shadow: 0px 2px 5px rgba(0,0,0, 0.2);
    margin: 10px 20px;
    padding: 20px;
    text-align: center;
    transition: all .45s ease;
}

.team-card:hover{
    transform: scale(1.1);
}

.team-image img{
    border-radius: 50%;
    height: 130px;
    width: 130px;
    object-fit: cover;
    margin-bottom: 10px;

}

.team-detail h3{
    color: var(--bg-color);
    font-size: 30px;
    margin: 15px 0px;
}
.team-detail p{
    color: var(--second-bg-color);
    font-size: 18px;
}