:root{
    --main-color: #c8b6ff;
    --second-color: #5638C0FF;
    --third-color: #381c72;
    --black: #13131a;
    --bg: #010103;
    --border: .1rem solid rgba(255,255,255,.3);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

.heading{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color: var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--second-color);
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}

.team-section{
    margin-top: 75px;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}

.team-title h1{
    font-size: 50px;
    color:  var(--main-color);
    text-align: center;
    position: relative;
}

.team-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    justify-content: center;
    align-items: start;
    margin-top: 20px;
}

.team-card {
    background-color: var(--third-color);
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0,0,0, 0.2);
    padding: 20px;
    text-align: center;
    transition: all .45s ease;
    background-image: url("/static/asssets/BackgroundimagePurpleBlack.jpg");
    font-size: 300%;
}

.team-card:first-child {
    grid-column: 1 / span 2;
    grid-row: 1;
    width: 75%;
    height: 80%;
    position: relative;
    margin-left: 12.5%;
    margin-top: 7.5%;
}

.team-card:hover {
    transform: scale(1.1);
    background-color: var(--third-color);
    border-color: white;
    border-width: thin;
    box-shadow: 0 2px 5px rgba(0,0,0, 0.2), 0 0 0 3px white;
}

.team-image img {
    border-radius: 50%;
    height: 130px;
    width: 130px;
    object-fit: cover;
    margin-bottom: 10px;
    border: #fff;
}

.team-detail h3 {
    color: #fff;
    font-size: 30px;
    margin: 15px 0;
}

.team-detail p {
    color: #fff;
    font-size: 18px;
}

.team-image img:hover {
    border-color: white;
}

.team-card:hover .team-image img {
    border-color: white;
    box-shadow: 0 0 10px 5px white;
}
