:root{
    --bg-color: #fff;
    --second-bg-color: #c9c4c4;
    --text-color:#202020;
    --second-color: #026bfd;
    --main-color: blueviolet;
    --footer-color: #013680;
}

.agb{
    padding: 20px;
}

.agb h4{
    color: var(--main-color);
}

.title-agb h1{
    color: var(--main-color);

}