.text-center .p-3 {
    background-color: #bbd0ff !important;
}

footer ul li a {
    text-decoration: none !important;
}

footer a {
    color: #6d6c6c !important;
    text-decoration: none !important;
    
}

.text-center .p-3 {
    background-color: #00254f;
}

.text-center .p-3 a{
    color: #6d6c6c;
}