.text-center .p-3 {
    background-color: #022352 !important;
}

footer ul li a {
    text-decoration: none !important;
}

a {
    text-decoration: none !important;
    
}

.text-center .p-3 {
    background-color: #00254f;
}

.text-center .p-3 a{
    color: white;
}