:root {
    --bg-color: #fff;
    --second-bg-color: #c9c4c4;
    --text-color: #202020;
    --second-color: #026bfd;
    --main-color: #026bfd;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;

}

header{
    z-index: 100 !important;
    position: fixed;
}
.header-logo {
    flex: 1;
    width: auto;
}

.header-logo .image {
    height: 100px;
}

.search-container {
    width: auto;
    background: #fff;
    height: 30px;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.8s;

    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),
    -4px -4px 6px 0 rgba(116, 125, 136, .2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

.search-container:hover > .search-input {
    width: 300px;
}

.search-container .search-input {
    background: transparent;
    border: none;
    outline: none;
    width: 0;
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;

}

.search-container .search-btn .fas {
    color: black;
}


.search-container:hover {
    animation: hoverShake 0.15s linear 3;
}

.shopping-cart {
    font-size: 24px;
    color: black;
}

* {
    box-sizing: border-box;
}

:root {
    --header-outer-height: 110px;
    --header-inner-height: 70px;
    --header-height-difference: calc(
            var(--header-outer-height) - var(--header-inner-height)
    );
    --header-bg: #fff;
}

body {
    font-family: "DM Sans", sans-serif;
    background-color: white;
    line-height: 1.5;
    position: relative;
}

.responsive-wrapper {
    width: 90%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.header-outer {
    height: var(--header-outer-height);
    position: sticky;
    top: calc(
            var(--header-height-difference) * -1
    );
    display: flex;
    align-items: center;
    background-color: var(--header-bg);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.header-inner {
    height: var(--header-inner-height);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo img {
    height: calc(var(--header-inner-height) - 30px);
}

.header-navigation {
    display: flex;
    flex-wrap: wrap;
}

.header-navigation a,
.header-navigation button {
    font-size: 1.125rem;
    color: inherit;
    margin-left: 1.75rem;
    position: relative;
    font-weight: 500;
}

.header-navigation a {
    display: none;
    font-size: 1.125rem;
    color: inherit;
    text-decoration: none;
}

.header-navigation button {
    border: 0;
    background-color: transparent;
    padding: 0;
}

.header-navigation a:hover:after,
.header-navigation button:hover:after {
    transform: scalex(1);
}

.header-navigation a:after,
.header-navigation button:after {
    transition: 0.25s ease;
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: currentcolor;
    transform: scalex(0);
    position: absolute;
    bottom: -2px;
    left: 0;
}

@media (min-width: 800px) {
    .header-navigation a {
        display: inline-block;
    }

    .header-navigation button {
        display: none;
    }
}