:root {
    --main-color: #c8b6ff;
    --second-color: #5638C0FF;
    --third-color: #381c72;
    --black: #13131a;
    --bg: #010103;
    --border: .1rem solid rgba(255, 255, 255, .3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

.container-flex {
    max-width: 90%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: var(--bg);
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.matthias-section{
    margin-top: 10rem;
}
.option img{
    border: 1px solid;
    border-color: white;
    border-radius: 5px;
}

.left, .right {
    flex: 1;
    padding: 20px;
    min-width: 300px;
}
.right{
    color: white;
}

.main_image img, .option img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    margin-bottom: 10px;
}

.option img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.quantity-controls button {
    background: none;
    color: var(--main-color);
    padding: 5px 10px;
    cursor: pointer;
}

.quantity-controls input {
    width: 50px;
    text-align: center;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .container-flex {
        flex-direction: column;
    }
}
