h1{
    font-size: 50px;
    text-align: center;
    color: white;
}
h3{
    text-align: center;
    color: white;
}
.allesee {
    width: 500px;
    text-align: center;
    display: flex;
    padding-left: 38%;
}

.bild22, .bild33 {
    flex: 1;
    padding: 10px; /* optional, für Abstand zwischen den Elementen */
}

.bild22 img {
    max-width: 100%; /* Optional, um sicherzustellen, dass das Bild innerhalb seines Containers bleibt */
}
.allesee2 {
    width: 500px;
    text-align: center;
    display: flex;
    padding-left: 38%;
}

.bild44, .bild55 {
    flex: 1;
    padding: 10px; /* optional, für Abstand zwischen den Elementen */
}

.bild44 img {
    max-width: 100%; /* Optional, um sicherzustellen, dass das Bild innerhalb seines Containers bleibt */
}
body {
    background-image: url('/OfficeGames-Main/asssets/182428240217.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw; /* Die Breite des Elements auf die gesamte Breite des Bildschirms setzen */
    height: 100vh; /* Die Höhe des Elements auf die gesamte Höhe des Bildschirms setzen */
    color: white;
    text-align: center;
}
.zumShop {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Übergangseffekt für die Hintergrundfarbe */
}

.zumShop:hover {
    background-color: rgb(87, 90, 88); /* Neue Hintergrundfarbe beim Überfahren */
}

.zumShop:active {
    transform: translateY(2px); /* Bewegung des Buttons nach unten, wenn er aktiv ist */
}
