:root {
    --bg-color: #fff;
    --second-bg-color: #c9c4c4;
    --text-color: #202020;
    --second-color: #026bfd;
    --main-color: #026bfd;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;

}

.hello{
    width: 100% !important;
}
div a {
    text-decoration: none;
    color: black;
}

.py-5{
    background-color: var(--bg-color) ;
}

.card{
    z-index: 0 !important;
}