{% extends 'base.html' %}

{% block title %}About us{% endblock %}

{% block content %}


<section class="about">
    <div class="welcome">
        <div class="welcome-title">
            <h3>Welcome to Office Games, where work meets play in the most innovative and engaging ways!</h3>
        </div>
        
    </div>
    <div class="about-text">
        <p>At Office Games, we understand that a motivated and energized workforce is key to success in today's dynamic
            business environment. That's why we specialize in providing cutting-edge solutions to enhance employee
            engagement, foster team cohesion, and drive productivity through the power of games and interactive
            experiences.</p>
        <p>But we're more than just a company – we're a community of like-minded individuals who believe in the power of
            play to transform workplaces for the better. We strive to foster a culture of collaboration, innovation, and
            continuous improvement, both within our own organization and among our valued clients.</p>
        <p>Join us on a journey where work becomes more than just a job – it becomes an adventure. Discover the endless
            possibilities of Office Games and let us help you unleash the full potential of your team, one game at a
            time.</p>
    </div>
</section>
<section class="team-section">
    <div class="team-title">
        <h1>Our Team</h1>
        <div class="team-cards">
            <div class="team-card">
                <div class="team-image">
                    <img src="/static/asssets/marc.jpg" alt="bild">
                </div>
                <div class="team-detail">
                    <h3>Marc Heusser</h3>
                    <p>Product Owner</p>
                </div>
            </div>
            <div class="team-card">
                <div class="team-image">
                    <img src="/static/asssets/lian.jpg" alt="bild">
                </div>
                <div class="team-detail">
                    <h3>Lian Keller</h3>
                    <p>Developer</p>
                </div>
            </div>
            <div class="team-card">
                <div class="team-image">
                    <img src="/static/asssets/Mathe.jpg" alt="bild">
                </div>
                <div class="team-detail">
                    <h3>Matthias Hartwig</h3>
                    <p>Developer</p>
                </div>
            </div>
            <div class="team-card">
                <div class="team-image">
                    <img src="/static/asssets/nader.jpg" alt="bild">
                </div>
                <div class="team-detail">
                    <h3>Nader Roshanbakhsh</h3>
                    <p>Developer</p>
                </div>
            </div>
            <div class="team-card">
                <div class="team-image">
                    <img src="/static/asssets/jenni.jpg" alt="bild">
                </div>
                <div class="team-detail">
                    <h3>Jennifer Jordi</h3>
                    <p>Developer</p>
                </div>
            </div>
            <div class="team-card">
                <div class="team-image">
                    <img src="/static/asssets/simo.jpg" alt="bild">
                </div>
                <div class="team-detail">
                    <h3>Simo Hug</h3>
                    <p>Social Media</p>
                </div>
            </div>
            <div class="team-card">
                <div class="team-image">
                    <img src="/static/asssets/profilePicture.png" alt="bild">
                </div>
                <div class="team-detail">
                    <h3>Daniel Luterbach</h3>
                    <p>Social Media</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}