<!DOCTYPE html>
<html lang="de">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/aboutus.css">
<title>Office Games</title>
</head>
<body>
<header>
  <div>Logo</div>
  <nav>
    <ul class="nav-links">
      <li><a href="#">Home</a></li>
      <li><a href="#">Produkte</a></li>
      <li><a href="#">Über uns</a></li>
    </ul>
  </nav>
</header>

<main class="main">
  <h1>Office Games</h1>
  <p>Premium Spiele fürs Büro</p>
  <div class="product">
    <img src="/OfficeGames-Main/asssets/IMG_9890.jpg" alt="Produktbild" class="BildKorb">
    <div class="product-description">
      <h2>Produktname</h2>
      <p>Beschreibung des Produkts</p>
    </div>
  </div>
  <button class="shop-button">Zum Shop</button>

  <div class="contact-form">
    <input type="email" placeholder="E-Mail">
    <input type="text" placeholder="Betreff">
    <textarea placeholder="Nachricht"></textarea >
    <br>
    <button type="submit">Formular senden</button>
  </div>
</main>

<footer>
  <p>Footer Inhalt</p>
</footer>
</body>
</html>