<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/aboutus.css">

    <title>About us</title>
</head>
<body>
    <h1>Office Games</h1>
    <h3>Premium Spiele fürs Office</h3>
    <div class="allesee">
        <div class="bild22">
            <img src="/OfficeGames-Main/asssets/IMG_9890.jpg" alt="bildde">
        </div>
        <div class="bild33">
            <p>
                Büroarbeit kann eine Herausforderung sein, aber bei Office Games sind wir hier, um sie aufzupeppen! Unsere Spiele sind wie eine Atempause für langweilige Arbeitstage. Von blitzschnellen Denkspielen bis hin zu entspannten Pausenaktivitäten haben wir alles, um Ihren Arbeitsplatz zu einem unterhaltsamen Ort zu machen. Erfahren Sie, wie unsere Spiele Teamwork fördern und die Arbeitsmoral steigern können. Machen Sie mit bei Office Games und lassen Sie uns gemeinsam die Büroarbeit aufmischen!
            </p>  
        </div>
    </div>
    <div class="allesee2">

      
        <div class="bild55">
            <p>
                In der Welt von Office Games sind wir der Meinung, dass Arbeit und Spiel Hand in Hand gehen können. Unsere Spiele sind nicht nur eine willkommene Abwechslung vom Büroalltag, sondern auch ein Weg, um die Kreativität zu fördern und das Team zu stärken. Von schnellen Kartenspielen bis hin zu kniffligen Rätseln bieten wir eine Vielzahl von Spielen, die für jeden Geschmack und jede Situation geeignet sind. Entdecken Sie, wie Office Games Ihren Arbeitsplatz auflockern und die Motivation Ihrer Mitarbeiter steigern kann!
            </p>
        </div>
        <div class="bild44">
            <img src="/OfficeGames-Main/asssets/IMG_9896.jpg" alt="bildde">
        </div>
    </div>
    <button onclick="window.location.href = 'shop.html';" class="zumShop">Zum Shop</button>
</body>
</html>