<!-- /templates/base.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/header.css">
    <link rel="stylesheet" href="/static/footer.css">
    <link rel="stylesheet" href="/static/contact.css">
    <link rel="stylesheet" href="/static/about-us.css">
    <link rel="stylesheet" href="/static/shop.css">
    <link rel="stylesheet" href="/static/kasse.css">
    <link rel="stylesheet" href="/static/agb.css">
</head>

<body>

<header class="header-outer">
    <div class="header-inner responsive-wrapper">
        <div class="header-logo">
            <a href="/"><img class="image" src="/static/asssets/OfficeGAmes-removebg-preview.png" alt="Logo"></a>
        </div>
        <nav class="header-navigation">


            <div class="search-container">
                <input type="text" name="search" placeholder="Search..." class="search-input">
                <a href="#" class="search-btn">
                    <i class="fas fa-search"></i>
                </a>
            </div>
            <a href="/shop">Shop</a>
            <a href="/about">About us</a>
            <a href="/faq">FAQ</a>
            <a href="/login">Login</a>
            <a href="/warenkorb"><i class="fas fa-shopping-cart shopping-cart"></i></a>
            <button>Menu</button>
        </nav>
    </div>
</header>

{% block content %}
{% endblock %}

<section class="contact-home" id="contact-home">
    <div class="contact-home-text">
        <h2>Kontakt</h2>
        <h4>Haben sie Fragen ?</h4>
        <p>Kontaktieren sie uns gerne, falls sie Fragen haben oder ein anderes Anliegen. Wir werden
            schnellstmöglichst darauf antworten.
        </p>

    </div>

    <div class="contact-form">
        <form action="https://formsubmit.co/office.games24@gmail.com" method="POST" class="">
            <input type="name" placeholder="Ihr Name" required>
            <input name="email" type="email" id="email" placeholder="Ihre Email Adresse" required>
            <input name="phone" id="phone" placeholder="Ihre Telefonnummer" required>
            <textarea name="message" id="message" cols="35" rows="10" placeholder="Ihre Nachricht"
                      required></textarea>
            <input type="hidden" name="_captcha" value="false">
            <input type="hidden" name="_template" value="table">
            <input type="submit" value="Senden" class="submit" required>
        </form>
    </div>
</section>


<footer class="text-center text-lg-start text-white" style="background-color: #013680">
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row my-4">
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

                <div class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto"
                     style="width: 160px; height: 160px;">
                    <img src="/static/asssets/OfficeGamesTransparent.png" height="100" alt="" loading="lazy"/>
                </div>

                <p class="text-center">Premium Spiele fürs Office</p>

                <ul class="list-unstyled d-flex flex-row justify-content-center">
                    <li>
                        <a class="text-white px-2" href="#!">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a class="text-white px-2" href="#!">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a class="text-white ps-2" href="#!">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                </ul>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4">Quicklinks</h5>

                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a href="/login" class="text-white"><i class='bx bx-log-in-circle'></i> Login</a>
                    </li>
                    <li class="mb-2">
                        <a href="/shop" class="text-white"><i class='bx bx-store'></i> Shop</a>
                    </li>
                    <li class="mb-2">
                        <a href="about" class="text-white"><i class='bx bxs-group'></i> About Us</a>
                    </li>
                    <li class="mb-2">
                        <a href="faq" class="text-white"><i class='bx bx-conversation'></i> FAQ</a>
                    </li>
                    <li class="mb-2">
                        <a href="/agb" class="text-white"><i class='bx bx-conversation'></i> AGB</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white"><i class='bx bx-conversation'></i> Datenschutz</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4">Social Media</h5>

                <ul class="list-unstyled">
                    <li class="mb-2">

                        <a href="#!" class="text-white"><i class='bx bxl-instagram'></i> Instagram</a>

                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white"><i class='bx bxl-tiktok'></i> TikTok</a>
                    </li>

                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4">Adresse</h5>

                <ul class="list-unstyled">
                    <li>
                        <p><i class='bx bxs-map-pin'></i> Neu Hard 9, 8005 Zürich</p>
                    </li>
                    <li>
                        <p><i class='bx bxs-phone'></i> +41123456789</p>
                    </li>
                    <li>
                        <p><i class='bx bx-envelope'></i> info@office-games.ch</p>
                    </li>
                </ul>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #00122b; margin-top: auto;">
        <p>Office Games © 2024 | Designed by Office Games</p>
    </div>
</footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
</script>


</html>