{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<section class="blogs" id="blogs">
    <h1 class="heading">our <span>blogs</span></h1>
    <div class="box-container">
        <div class="box">
            <div class="image">
                <img src="/static/asssets/OfficeGAmes.png" alt="">
            </div>
            <div class="content">
                <a href="" class="title">Blogs</a>
                <span>by office gaames / 15 ferbruary, 2024</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quos eaque, consectetur quaerat
                    reprehenderit hic accusantium mollitia. Odit quaerat iste placeat! Ad non similique aspernatur
                    libero, cupiditate aliquid numquam sequi unde deleniti aliquam vitae expedita sit beatae dolorem
                    animi autem rerum praesentium temporibus quam nulla quibusdam atque illum totam culpa.</p>
               
            </div>
        </div>
        <div class="box">
            <div class="image">
                <img src="/static/asssets/OfficeGAmes.png" alt="">
            </div>
            <div class="content">
                <a href="" class="title">Blogs</a>
                <span>by office gaames / 15 ferbruary, 2024</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quos eaque, consectetur quaerat
                    reprehenderit hic accusantium mollitia. Odit quaerat iste placeat! Ad non similique aspernatur
                    libero, cupiditate aliquid numquam sequi unde deleniti aliquam vitae expedita sit beatae dolorem
                    animi autem rerum praesentium temporibus quam nulla quibusdam atque illum totam culpa.</p>
                    
            </div>
        </div>
        <div class="box">
            <div class="image">
                <img src="/static/asssets/OfficeGAmes.png" alt="">
            </div>
            <div class="content">
                <a href="" class="title">Blogs</a>
                <span>by office gaames / 15 ferbruary, 2024</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quos eaque, consectetur quaerat
                    reprehenderit hic accusantium mollitia. Odit quaerat iste placeat! Ad non similique aspernatur
                    libero, cupiditate aliquid numquam sequi unde deleniti aliquam vitae expedita sit beatae dolorem
                    animi autem rerum praesentium temporibus quam nulla quibusdam atque illum totam culpa.</p>
            </div>
        </div>
    </div>
</section>



{% endblock %}