{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}


<section class="contact" id="contact">

    <h1 class="heading"> <span>contact</span> us </h1>
    <div class="row">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d295116.6759668402!2d24.629315570767105!3d54.69908335340572!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa40b5d0fc63db879%3A0x4554446310a6c922!2sOffice%20Games!5e0!3m2!1sde!2sch!4v1707986333275!5m2!1sde!2sch"
            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <form action="">
            <h3>get in touch</h3>
            <div class="inputBox">
                <span class="fas fa-user"></span>
                <input type="text" placeholder="name">
            </div>
            <div class="inputBox">
                <span class="fas fa-envelope"></span>
                <input type="email" placeholder="email">
            </div>
            <div class="inputBox">
                <span class="fas fa-phone"></span>
                <input type="number" placeholder="number">
            </div>
            <input type="submit" class="contact-btn" value="Contact now">
            {#<button onclick="alert('hi')">Test</button>#}
        </form>

    </div>


</section>



{% endblock %}