<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
        list-style: none;
        scroll-behavior: smooth;
    }

    :root {
        --bg-color: #fff;
        --second-bg-color: #c9c4c4;
        --text-color: #202020;
        --second-color: #026bfd;
        --main-color: #026bfd;
        --big-font: 5rem;
        --h2-font: 3rem;
        --p-font: 1.1rem;

    }

    body {
        background: var(--bg-color);
        color: var(--text-color);
    }

    span {
        color: var(--main-color);
    }

    .contact-home {
        background: var(--bg-color);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 2.5rem;
        padding: 15px;

    }

    .contact-home-text h4 {
        color: var(--text-color);
        margin: 18px 0;
        font-size: 20px;
        font-weight: 600;
    }

    .contact-home-text h2 {
        font-size: var(--h2-font);
        line-height: 1;
    }

    .contact-home-text p {
        color: var(--text-color);
        font-size: var(--p-font);
        line-height: 1.8;

    }

    .list {
        margin-top: 30px;
        margin-bottom: 2.8rem;
        text-decoration: none;
    }

    .list li {
        margin-bottom: 12px;
    }

    .list li a {
        display: block;
        color: var(--text-color);
        font-size: 14px;
        transition: all .45s ease;

    }

    .list li a:hover {
        color: var(--main-color);
        transform: translateX(5px);
    }


    .contact-form form {
        position: relative;

    }

    .contact-form form input, form textarea {
        width: 100%;
        padding: 14px;
        background: var(--second-bg-color);
        color: var(--text-color);
        border: none;
        outline: none;
        font-size: 15px;
        border-radius: 8px;
        margin-bottom: 10px;


    }

    .contact-form textarea {
        resize: none;
        height: 240px;
    }

    .contact-form .submit {
        display: inline-block;
        font-size: 16px;
        background: var(--main-color);
        color: var(--bg-color);
        width: 100%;
        transition: all .45s ease;
    }

    .contact-form .submit:hover {
        color: var(--text-color);
        transform: scale(0.99);
        cursor: pointer;
    }
</style>

<section class="contact-home" id="contact-home">
    <div class="contact-home-text">
        <h2>Kontakt</h2>
        <h4>Haben sie Fragen ?</h4>
        <p>Kontaktieren sie uns gerne, falls sie Fragen haben oder ein anderes Anliegen. Wir werden
            schnellstmöglichst darauf antworten.</p>

        <div class="list">
            <li><a href="#">+41123456789</a></li>
            <li><a href="#">office.games24@gmail.com</a></li>


        </div>


    </div>

    <div class="contact-form">
        <form action="https://formsubmit.co/office.games24@gmail.com" method="POST" class="">
            <input type="name" placeholder="Ihr Name" required>
            <input name="email" type="email" id="email" placeholder="Ihre Email Adresse" required>
            <input name="phone" id="phone" placeholder="Ihre Telefonnummer" required>
            <textarea name="message" id="message" cols="35" rows="10" placeholder="Ihre Nachricht" required></textarea>
            <input type="hidden" name="_captcha" value="false">
            <input type="hidden" name="_template" value="table">
            <input type="submit" value="Senden" class="submit" required>
        </form>
    </div>
</section>