<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontakt</title>
    <link rel="stylesheet" href="css/contact.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
     <!-----------------Contact--------------------------------------->

     <section class="contact-home" id="contact-home">
        <div class="contact-home-text">
          <h2>Contact</h2>
          <h4>Make <span>Your</span> Security more Secure</h4>
          <p>Ready to make your Security more secure? </p>
          <p>Contact Keller IT-Security today for a personalized consultation. 
            Protect your digital assets with confidence. </p>
  
          <div class="list">
            <li><a href="#">+41774781414</a></li>
            <li><a href="#">lian.keller@zkb.ch</a></li>
  
          </div>
  
          <div class="contact-icons">
            <a href="https://www.facebook.com/"><i class='bx bxl-facebook' ></i></a>
            <a href="https://twitter.com/"><i class='bx bxl-twitter' ></i></a>
            <a href="https://www.instagram.com/"><i class='bx bxl-instagram' ></i></a>
            <a href="https://www.youtube.com/?app"><i class='bx bxl-youtube' ></i></a>
          </div>
        </div>
  
        <div class="contact-form">
          <form action="https://formsubmit.co/lianmkeller07@gmail.com" method="POST" class="" >
            <input type="name" placeholder="Your Name" required>
            <input name="email" type="email" id="email" placeholder="Your Email Address" required>
            <input name="phone" id="phone" placeholder="Your Mobile Number" required>
            <textarea name="message" id="message" cols="35" rows="10" placeholder="Your Message" required></textarea>
            <input type="hidden" name="_captcha" value="false">
            <input type="hidden" name="_template" value="table">
            <input type="submit" value="Send your Message" class="submit" required>
          </form>
        </div>
      </section>
  
    
</body>
</html>