{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<section class="home" id="home">
    <div class="content" style="color: #fff">
        <h3>Welcome to Office Games!</h3>
        <p>Premium Games for your Office!</p>
        <a href="/shop" class="btn">Shop</a>
    </div>
</section>

<section class="about" id="about">
    <h1 class="heading"><span>about</span> us</h1>
    <div class="row">
        <div class="image">
            <img src="/static/asssets/logo.png" alt="Logo">
        </div>
        <div class="content">
            <h3></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel cumque nobis necessitatibus enim eligendi
                doloribus nesciunt similique maiores ullam, doloremque voluptatibus pariatur laudantium dolor obcaecati
                asperiores deserunt sequi omnis nostrum. Voluptas tempore necessitatibus, libero nostrum sequi saepe
                adipisci, minus iste nulla temporibus est aperiam, neque cum harum blanditiis debitis asperiores.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum impedit iste ipsa optio amet! Ratione
                magni ipsam, iusto nobis aut velit magnam? Ducimus ipsum ullam quasi ad quia magni distinctio!</p>
                <a href="" class="btn">Learn more</a>
        </div>
    </div>
</section>

<section class="about" id="about">
    <h1 class="heading"><span>Blogs</span></h1>
    <div class="row">
        <div class="content">
            <h3></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel cumque nobis necessitatibus enim eligendi
                doloribus nesciunt similique maiores ullam, doloremque voluptatibus pariatur laudantium dolor obcaecati
                asperiores deserunt sequi omnis nostrum. Voluptas tempore necessitatibus, libero nostrum sequi saepe
                adipisci, minus iste nulla temporibus est aperiam, neque cum harum blanditiis debitis asperiores.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum impedit iste ipsa optio amet! Ratione
                magni ipsam, iusto nobis aut velit magnam? Ducimus ipsum ullam quasi ad quia magni distinctio!</p>
                <a href="" class="btn">Read More</a>
        </div>
        <div class="image">
            <img src="/static/asssets/fun-games-in-office.png" alt="Logo">
        </div>
    </div>
</section>

{% endblock %}