{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}


<div class="welcome">
    <h1>Welcome!</h1>  
</div>

<!-- Projects-->
<section class="projects-section" id="projects">
    <div class="container px-4 px-lg-5">
        <!-- Featured Project Row-->
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>Shop</h4>
                    <p class="text-black-50 mb-0">Discover our newest Products in our Online-Shop!
                    </p>
                </div>
            </div>
            <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0"
                src="/static/asssets/OfficeGAmes-removebg-preview.png" alt="..." /></div>
        </div>
    </div>
    <div class="container px-4 px-lg-5">
        <!-- Featured Project Row-->
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0"
                    src="/static/asssets/idea.png" alt="..." /></div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>Our Idea</h4>
                    <p class="text-black-50 mb-0">Learn more about our Idea and who is behind our brand in the section About Us!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container px-4 px-lg-5">
        <!-- Featured Project Row-->
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>Login</h4>
                    <p class="text-black-50 mb-0">Become a Member to Benefit from our Sales and become early Acces to our new Products!
                    </p>
                </div>
            </div>
            <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0"
                src="/static/asssets/OfficeGAmes-removebg-preview.png" alt="..." /></div>
        </div>
    </div>
</section>


{% endblock %}