{% extends 'base.html' %}

{% block title %}Infos{% endblock %}

{% block content %}

<section>
    <div class="container flex">
        <div class="left">
            <div class="main_image">
                <img src="/static/asssets/products/1.png" alt="" class="slide">
            </div>
            <div class="option flex">
                <img src="/static/asssets/products/1.png" onclick="img('/static/asssets/products/1.png')">
                <img src="/static/asssets/products/2.png" onclick="img('/static/asssets/products/2.png')">
                <img src="/static/asssets/products/3.png" onclick="img('/static/asssets/products/3.png')">
                <img src="/static/asssets/products/4.png" onclick="img('/static/asssets/products/4.png')">
                <img src="/static/asssets/products/5.png" onclick="img('/static/asssets/products/5.png')">
                <img src="/static/asssets/products/6.png" onclick="img('/static/asssets/products/6.png')">
            </div>
        </div>
        <div class="right">
            <h3>Beats Solo3 Wireless</h3>
            <h4><small>CHF</small>999.99</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium atque cum deserunt eius eos esse, est, iure neque non nulla officiis, praesentium quam ullam? Architecto eligendi maiores mollitia perferendis voluptas.</p>
            <h5>Color-Original</h5>
            <div class="color flex">
                <span onclick="change('red')"></span>
                <span onclick="change('blue')"></span>
                <span onclick="change('green')"></span>
                <span onclick="change('yellow')"></span>
                <span onclick="change('purple')"></span>
                <span onclick="change('black')"></span>
            </div>
            <h5>Number</h5>
            <div class="add flex1">
                <span>-</span>
                <label>1</label>
                <span>+</span>
            </div>
            <button>Add To Bag</button>
        </div>
    </div>
</section>

<script type="text/javascript">
    function img(anything){
        document.querySelector('.slide').src = anything;
    }

    function change(change){
        const line = document.querySelector('.home');
        line.style.background = change
    }
</script>

{% endblock %}
