{% extends 'base.html' %}

{% block title %}About us{% endblock %}

{% block content %}



<div class="title">
    <h1>Kasse</h1>
    <h2>Rechnungsdetails</h2>
</div>


<div class="rechnungsdetails">
    <form>
        <div class="vorname">
            <label for="vorname">Vorname</label>
            <input type="text" id="vorname" name="vorname" placeholder="Dein Vorname..">
        </div>

        <div class="nachname">
            <label for="nachname">Nachname</label>
            <input type="text" id="nachname" name="nachname" placeholder="Dein Nachname..">
        </div>

        <div class="firmenname">
            <label for="firmenname">Firmenname (optional)</label>
            <input type="text" id="firmenname" name="firmenname" placeholder="Dein Firmenname..">
        </div>

        <div class="land">
            <label for="land">Land</label>
            <input type="text" id="land" name="land" placeholder="Land..">
        </div>

        <div class="adresse">
            <label for="adresse">Strasse, Hausnummer</label>
            <input type="text" id="adresse" name="adresse" placeholder="Deine Adresse..">
        </div>

        <div class="plz">
            <label for="plz">PLZ</label>
            <input type="text" id="plz" name="plz" placeholder="Deine Postleitzahl..">
        </div>

        <div class="wohnort">
            <label for="wohnort">Ort/Stadt</label>
            <input type="text" id="wohnort" name="wohnort" placeholder="Dein Wohnort..">
        </div>

        <div class="telefon">
            <label for="telefon">Telefon (optional)</label>
            <input type="text" id="telefon" name="telefon" placeholder="Deine Telefonnummer..">
        </div>

        <div class="email">
            <label for="email">E-Mail</label>
            <input type="text" id="email" name="email" placeholder="Deine Emailadresse..">
        </div>
    </form>


    <table>
        <tr>
            <th>Produkt</th>
            <th>Anzahl</th>
            <th>Summe</th>
        </tr>
        <tr>
            <td>...</td>
            <td>...</td>
            <td>...</td>
        </tr>
        <tr>
            <td><b>Zwischensumme</b></td>
            <td></td>
            <td>... CHF</td>
        </tr>
        <tr>
            <td><b>Versand</b></td>
            <td></td>
            <td>... CHF</td>
        </tr>
        <tr>
            <td><b>Summe</b></td>
            <td></td>
            <td>... CHF</td>
        </tr>
    </table>
</div>

{% endblock %}