{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

  <section class="login">
    <div class="wrapper">
        <div class="form-box-login">
            <h2>Login</h2>
            <form action="#">
                <div class="input-box">
                    <span class="icon"><i class="fa-solid fa-envelope"></i></span>
                    <input type="email" required>
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <span class="icon"><i class="fa-solid fa-lock"></i></span>
                    <input type="password" required>
                    <label>Passwort</label>
                </div>
                <div class="remember-forget">
                    <label><input type="checkbox"> Sich Erinnern</label>
                    <a href="#">Passwort vergessen?</a>
                </div>
                <button type="submit" class="btn-login">Login</button>
                <div class="login-register">
                    <p>Haben Sie kein Account? <a href="#" class="register-link">Registrieren</a></p>
                </div>
            </form>
        </div>
    </div>
  </section>
    

{% endblock %}