{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<section class="review" id="review">
    <h1 class="heading"><span>Reviews</span></h1>
    <div class="box-container">
        <div class="box">
            <img src="" alt="" class="quote">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem esse commodi facere ipsum omnis sequi
                veritatis quidem aut numquam vel maxime saepe repudiandae, voluptate harum quos illo quaerat officia
                quas?
            </p>
            <img src="/asssets/coworker/1.jpg" alt="" class="user">
            <h3>Marc Heusser</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
        </div>
        <div class="box">
            <img src="" alt="" class="quote">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem esse commodi facere ipsum omnis sequi
                veritatis quidem aut numquam vel maxime saepe repudiandae, voluptate harum quos illo quaerat officia
                quas?
            </p>
            <img src="/asssets/coworker/1.jpg" alt="" class="user">
            <h3>Marc Heusser</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
        </div>
        <div class="box">
            <img src="" alt="" class="quote">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem esse commodi facere ipsum omnis sequi
                veritatis quidem aut numquam vel maxime saepe repudiandae, voluptate harum quos illo quaerat officia
                quas?
            </p>
            <img src="/asssets/coworker/1.jpg" alt="" class="user">
            <h3>Marc Heusser</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
        </div>
    </div>
</section>

{% endblock %}