{% extends 'base.html' %}

{% block title %}Shop{% endblock %}

{% block content %}
<section class="products" id="products">
    <h1 class="heading"><span>Shop</span></h1>
    <div class="box-container">
        {% for product in product_info %}
        <div class="box">
            <div class="icons">
                <a href="/warenkorb/add/{{ product.productid }}" class="fas fa-shopping-cart"></a>
                <a href="/infos" class="fas fa-eye"></a>
            </div>

            <div class="image">
                <img src="{{ url_for('static', filename='asssets/products/' ~ product.productid ~ '.png') }}"
                     alt="{{ product.name_product }}"></div>
            <div class="content">
                <h3>{{ product.name_product }}</h3>
                <div class="stars">
                    {% for i in range(1, 6) %} <!-- Loop from 1 to 5 -->
                    {% if i <= product.rating %}
                    <i class="fas fa-star"></i> <!-- Filled star for rating -->
                    {% else %}
                    <i class="far fa-star"></i> <!-- Empty star for the rest -->
                    {% endif %}
                    {% endfor %}
                </div>

                {% if product.is_sale == True %}
                <div class="price">CHF {{ product.sale }}<span>CHF {{ product.price }}</span></div>
                {% else %}
                <div class="price">CHF {{ product.price }}</div>
                {% endif%}
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
