{% extends 'base.html' %}

{% block title %}Shop{% endblock %}

{% block content %}
<section class="products" id="products">
    <h1 class="heading">Shop</h1>
    <div class="box-container">
        {% for product in product_info %}
        <div class="box">
            <div class="icons">
                <a href="" class="fas fa-shopping-cart"></a>
                <a href="" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="/asssets/products/answerWheel.webp" alt="">
            </div>
            <div class="content">
                <h3>{{ product.name_product }}</h3>
                <div class="stars">
                    {% for i in range(1, 6) %} <!-- Loop from 1 to 5 -->
                    {% if i <= product.rating %}
                    <i class="fas fa-star"></i> <!-- Filled star for rating -->
                    {% else %}
                    <i class="far fa-star"></i> <!-- Empty star for the rest -->
                    {% endif %}
                    {% endfor %}
                </div>

                {% if product.is_sale == True %}
                <div class="price">{{ product.sale }}<span>{{ product.price }}</span></div>
                {% else %}
                <div class="price">{{ product.price }}</div>
                {% endif%}
            </div>
        </div>
        {% endfor %}
        1
    </div>
</section>
{% endblock %}