<!-- /templates/base.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

    <header class="header-outer">
        <div class="header-inner responsive-wrapper">
            <div class="header-logo">
                <a href="home.html"><img class="image" src="../asssets/OfficeGAmes-removebg-preview.png" alt="Logo"></a>
            </div>
            <nav class="header-navigation">
                <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    
                <div class="search-container">
                    <input type="text" name="search" placeholder="Search..." class="search-input">
                    <a href="#" class="search-btn">
                        <i class="fas fa-search"></i>
                    </a>
                </div>
                <a href="shop.html">Shop</a>
                <a href="about-us.html">About us</a>
                <a href="faq.html">FAQ</a>
                <a href="login.html">Login</a>
                <a href="warenkorb.html"><i class="fas fa-shopping-cart shopping-cart"></i></a>
                <button>Menu</button>
            </nav>
        </div>
    </header>


    <footer class="text-center text-lg-start text-white"
        style="background-color: #013680">
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row my-4">
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

                <div class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto"
                     style="width: 160px; height: 160px;">
                    <img src="../asssets/OfficeGamesTransparent.png" height="100"
                         alt=""
                         loading="lazy"/>
                </div>

                <p class="text-center">Premium Spiele fürs Office</p>

                <ul class="list-unstyled d-flex flex-row justify-content-center">
                    <li>
                        <a class="text-white px-2" href="#!">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a class="text-white px-2" href="#!">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a class="text-white ps-2" href="#!">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                </ul>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4">Quicklinks</h5>

                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a href="#!" class="text-white"><i class='bx bx-log-in-circle'></i> Login</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white"><i class='bx bx-store'></i> Shop</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white"><i class='bx bxs-group'></i> About Us</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white"><i class='bx bx-conversation'></i> FAQ</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4">Social Media</h5>

                <ul class="list-unstyled" >
                    <li class="mb-2">

                        <a href="#!" class="text-white" ><i class='bx bxl-instagram'></i>Instagram</a>

                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white"><i class='bx bxl-tiktok'></i> TikTok</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white"><i class='bx bxl-facebook'></i> Facebook</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white"><i class='bx bxl-twitter'></i> Twitter</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4">Adresse</h5>

                <ul class="list-unstyled">
                    <li>
                        <p><i class='bx bxs-map-pin'></i> Neu Hard 9, 8005 Zürich</p>
                    </li>
                    <li>
                        <p><i class='bx bxs-phone'></i> +41123456789</p>
                    </li>
                    <li>
                        <p><i class='bx bx-envelope'></i> info@office-games.ch</p>
                    </li>
                </ul>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-dark text-center p-3" style="background-color: #c9c4c4">
        Office Games © 2024 | Designed by Office Games
    </div>
</footer>

    

    {% block content %}
    {% endblock %}
</body>

</html>